@import '../../index';

.header {
  width: 100%;
  height: auto;
  background-color: $base-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  box-sizing: border-box;
  box-shadow: $shadow;

  &-text {
    text-decoration: none;
    outline: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: $text-color;
  }

  &-linkContainer {
    display: flex;
    gap: 19px;
    align-items: center;
  }

  &-link--buttonTheme {
    border-radius: $border-radius;
    border: $border;
    padding: 8px 18px;
    color: $button-green-color;
  }

  &-profileContainer {
    display: flex;
    gap: 27px;
    align-items: center;
  }

  &-profile {
    display: flex;
    gap: 13px;
    align-items: center;

    &-username {
      color: $text-color;
      font-family: Inter UI;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    &-avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }

  &-create {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 22px;
  }

  &-logout {
    border: $text-color 1px solid;
    color: $text-color;
  }
}


